@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
}


img { 
    width: 10%;
    height: 10%;
}

h1,
h2 {
    margin-bottom: 15px;
}

ul {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar a:hover {
    background-color: red;
    color: white;
    border: 5px;

}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar {
    background-color: #1F2937;
    color: white;
    height: 60px;
}
.navbar ul {
    display: flex;
    align-items: center;
    gap: 3rem;
    align-self: center;
}

.navbar .logo {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    min-height: 600px;
}

.header h1 {
    font-size: 48px;
    font-weight: bolder;
}

.header p {
    font-size: 18px;
    color: black;

}

.header a {
    background-color: white;
    height: 80px;
    width: 160px;
    border-radius: 40px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border: 2px black solid;
}

.header a:hover {
    color: white;
    background-color: #1F2937;
    border: 3px rgb(137, 88, 88) solid;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 80px;
}

.header h1,
p,
a {
    margin-top: 50px;
    margin-bottom: 50px;
}

.header img {
    height: 300px;
    width: 300px;
    margin-left: 50px;
}

/* Boxes */

.boxes {
    max-width: 100%;
    background-color: #1F2937;
    height: 600px;
    display: flex;
    flex-direction: row;
}

.boxes .container{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    align-items: center;
    height: 100%;
}

.box {
    flex: 1;
    background-color: white;
    border-radius: 10px;
    margin: 20px 10px;
    border: 2px solid red;
    color: black;
    text-align: center;
    align-items: center;
    align-self: center;
    padding: 30px;

}

.box i {
    margin-right: 15px;
}

.container h2 {
    color: #ffffff;
    text-align: center;
}

.quote .container {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100%;
}

.quote h1,
p,
h2 {
    color: black;
    text-align: center;
    margin-top: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.quote h1 {
    font-size: 36px;
    font-weight: 700;
}

.quote p {
    font-size: 24px;
    font-weight: 600;
}

.header .container-one {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

button {
    height: 80px;
    width: 300px;
    border-radius: 18px;
}

button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

.header .container-one p {
    color: white;
}

.header .container-one h2 {
    color: white;
}

.container-one {
    background-color: antiquewhite;
}

footer p {
    font-weight: 600;
}